.lux-review-wrap {
  background: #e2cec460;
  padding: 20px;
  text-align: center;
  color: #3f3f3f;
  position: relative;
  overflow: hidden;
}

/* LABEL */
.lux-review-label {
  letter-spacing: 2px;
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #7cadad;
  font-weight: 500;
}

/* SLIDER */
.lux-review-slider {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  position: relative;
  min-height: 200px;
  overflow: hidden;
}

/* BIG QUOTE */
.lux-quote {
  font-size: 120px;
  color: #7cadad;
  opacity: 0.2;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: serif;
  pointer-events: none;
  z-index: 0;
  text-shadow: 0 0 20px rgba(115, 173, 173, 0.4);
}

/* TEXT */
.lux-review-text {
  font-size: 26px;
  line-height: 1.6;
  font-weight: 400;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
  z-index: 1;
  margin-top: 50px;
}

.lux-review-text.active {
  opacity: 1;
  transform: translateY(0);
  position: relative;
  animation: fadeUp 1s ease forwards;
}

/* CONTROLS */
.lux-controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15px;
}

.lux-controls button {
  background: rgba(147, 190, 191, 0.2);
  border: none;
  color: #3f3f3f;
  font-size: 22px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

.lux-controls button:hover {
  background: #93bebf;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

/* ANIMATION */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 567px) {
  .lux-review-wrap {
    padding: 45px 20px;
  }
  .lux-review-slider {
    margin: 40px auto 40px;
  }
  .lux-review-text {
    font-size: 20px;
  }
  /* LABEL */
  .lux-review-label {
    font-size: 1.8rem;
  }
}
