.navbar {
    background: #3f3f3f;
}
/* Gold Accent */
.text-gold {
    color: #b8860b !important;
}

/* Luxury Navbar Links */
.nav-link {
    position: relative;
    font-weight: 500;
    margin: 0 10px;
    color: #e2cec4 !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #b8860b !important;
}

/* Gold Underline Animation */
.luxury-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #b8860b;
    /* background: #93bebf; */
    transition: width 0.3s ease;
}

.luxury-link:hover::after {
    width: 100%;
}